#wrapper {

    background-color:blue;
    display:grid;
    margin-top:100px;
    grid-template-columns: auto;
    grid-template-rows: 400px 100px;

    grid-template-areas:
    /* 'hd' */
    'mn'
    'ft'
    ;
}



header {
    background-color:black;
    padding-left:20px;
    padding-right:20px;
    border-bottom:solid;
    border-radius:2px;
    border-style:solid;
    grid-template-rows:auto auto;
    grid-template-columns: 50px 1fr;
    width:100%;
    top:0;
    position:fixed;
    display:grid;
    grid-template-areas:
    'log nav'
    ;

}


main {
    background-color:lightblue;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 300px;
    padding-left:100px;
    padding-right:100px;
    grid-area:mn;
    display:grid;
    grid-template-areas:
    'sc1 sc2'
    'sc3 sc2'
    ;
}

footer {
    grid-area:ft;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:black;
    a {
        color:white;
        text-decoration:none;
    }
    a:hover {
        text-decoration:dashed;
    }
}


/* Under ligger alla barn till Main */


#section1 {
    grid-area:sc1;
    background-color:blue;
}

#section2 {
    grid-area:sc2;
    background-color:pink;

}

#section3 {
    grid-area:sc3;
    background-color:white;
}

/* Slut */

/* Under ligger alla barn till Header */

#nav1 {
    grid-area:nav;
    color:tomato;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.navlinks {
    text-decoration-line:none;
    font-size:20px;
    color:blue; /*might change*/

}

#logosec {
    margin-left: -40px;
    grid-area:log;
    color:brown;
}


/* Under ligger id;en */

#pictureadjust{
    width:175px;
    height:100px;
}
#picturefit {
    object-fit: fill;
    width:100%;
    height:100%;
}



/* Slut */


/* Log in sida */

#wrapperLogIn {
    margin-top:100px;
    background-color:white;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 400px 100px;
    grid-template-areas:
    'mnlog'
    'ftlog'
    ;
}

footer#FooterLogIn {
    grid-area:ftlog;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:black;
    a {
        color:white;
        text-decoration:none;
    }
    a:hover {
        text-decoration:dashed;
    }
}

main#MainLogIn {
    background-color:lightblue;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    padding-left:100px;
    padding-right:100px;
    grid-area:mnlog;
    display:grid;
    grid-template-areas:
    'seclog1'
    ;
}


#sectionlog1 {
    display:flex;
    align-items:center;
    justify-content:center;
    grid-area:seclog1;
    background-color:blue;
}

#biggertext {
    font-size: large;
    text-decoration-line: underline;
}

.HighLightCurrentWebPage {
    color:white;
    font-size:20px;
}

/* Slut */

/* Nyhets Sida */

#wrapperNyheter {
    margin-top:100px;
    display:grid;
    background-color:black;
    grid-template-columns: auto;
    grid-template-rows: 1200px 100px;
    grid-template-areas:
    'MnNyheter'
    'ftNyheter'
    ;
}

footer#FooterNyheter {
    grid-area:ftNyheter;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:black;
    a {
        color:white;
        text-decoration:none;
    }
    a:hover {
        text-decoration:dashed;
    }
}


main#MainNyheter {
    grid-area:MnNyheter;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 300px 225px 225px 225px 225px;
    background-color:black;
    margin-top:none;
    margin-right: none;
    grid-template-areas:
    'bildnyh bildnyh'
    'secnyh1 secnyh2'
    'secnyh3 secnyh4'
    'secnyh5 secnyh6'
    ;
}

#secbildNyheter {
    grid-area: bildnyh;
    color:blue;
    background-color:yellow;
}

#secnyheter1 {
    grid-area: secnyh1;
    color:blueviolet;
    margin-top:50px;
    margin-right:10px;
}

#secnyheter2 {
    grid-area: secnyh2;
    color:aqua;
    margin-top:50px;
    margin-left:10px;
}

#secnyheter3 {
    grid-area: secnyh3;
    color:aqua;
    margin-top:10px;
    margin-right:10px;
}

#secnyheter4 {
    grid-area: secnyh4;
    color:aqua;
    margin-top:10px;
    margin-left:10px;
}


#secnyheter5 {
    grid-area: secnyh5;
    color:aqua;
    margin-top:10px;
    margin-right:10px;
}


#secnyheter6 {
    grid-area: secnyh6;
    color:aqua;
    margin-top:10px;
    margin-left:10px;
}

